<!DOCTYPE HTML>
<html>
	<head>
		<title>ECOSTOX by Team Lorem Ipsum</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">EcoStox</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/generic"> Our Mission</a></li>
							<li><a href="/page2">Our Tool</a></li>
							<li><a href="/page5">Resources</a></li>
							<li><a href="/page3">Reports and Releases</a></li>
							<li><a href="/page6">The Team</a></li>>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Why EcoStox?</h1>
							<blockquote> "As the performance of naïve, passive ESG strategies has faltered and the regulators circle the wagons, sustainable investing is at a critical juncture. Investors are clear that they need more quantifiable evidence of the value and impact of ESG, and more clarity and transparency into how this investing is practiced and measured." - Marina Severinovsky, Head of Sustainability, Schroders Co. </blockquote>

							<span class="image main"><img src="images/buildings1.jpg" alt="" /></span>
							<p>The world has been talking about sustainablility for years. Profit margins. Potential growth. Market capitalization. There are many ways to evaluate a company’s worth. But companies don’t exist in a vacuum. The way they behave has real-life consequences – negative and positive. If you don’t take those into account, you aren’t getting the full picture. Take risk and return. That’s the traditional lens through which to judge investments. For us, that’s too narrow, which is why we bring in a third dimension: impact. By diving deep into a company’s environmental, social and governance factors we believe you are able to determine their true costs and ultimately their impact-adjusted profits.</p>
							<p>That's where EcoStox comes in. EcoStox utilises AI-powered datasets to optimise user portfolios to balance financial preferences and environmental sustainability. By accomodating for both risk-performance and environmental footprint, EcoStox powers up portfolios to measure up to global sustainability efforts. </p>

						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch with us.</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>