<!DOCTYPE HTML>
<html>
	<head>
		<title>ECOSTOX by Team Lorem Ipsum</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename = 'css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">EcoStox</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/generic"> Our Mission</a></li>
							<li><a href="/page2">Our Tool</a></li>
							<li><a href="/page5">Resources</a></li>
							<li><a href="/page3">Reports and Releases/a></li>
							<li><a href="/page6">The Team</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Past Reports</h1>

							<span class="image main"><img src="images/corp.jpg" alt="" /></span>
							<p> More than 2,000 companies have set a science-based carbon target since 2014. Yet, despite 90% of business leaders putting sustainability on the forefront of their agendas, only 60% of companies have a sustainability strategy <a href= https://www.forbes.com/sites/forbesbusinesscouncil/2021/02/10/why-corporate-strategies-should-be-focused-on-sustainability/?sh=251044f7e9f2>(Forbes)</a>  </p>
                            <p> 1. Nearly 3 in 5 (57%) executives report having implemented a cross-functional ESG working group tasked with driving strategic attention to ESG and another 42% are taking steps to do the same. A similar profile of survey respondents in 2021 indicated that only 21% had implemented a cross-functional ESG working group.</p>
                            <p>2. Many companies report being prepared to disclose Scope 1 GHG emissions (61%), and more than 3 in 4 (76%) executives are prepared to disclose Scope 2 GHG emissions, a noteworthy increase from 47% in 2021. However, Scope 3 disclosure is still a work in progress, with only one third (37%) of respondents currently prepared to disclose details, a modest increase (31%) from 2021. The vast majority (86%) reported challenges measuring Scope 3 GHG emissions.  </p>
                            <p>3. While most companies are taking meaningful steps toward enhancing sustainability disclosures, challenges remain. Companies are concerned about the accuracy and completeness of sustainability data. Executives list quality (35%) as the top data challenge, up from 25% in 2021. Another 25% cited access to data as the greatest challenge, a slight decrease from the 32% cited by a similar profile of respondents in 2021. </p>
							<p><i> Source from <a href=https://www2.deloitte.com/us/en/pages/audit/articles/esg-survey.html> Deloitte ESG Survey</a></i></p>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch with us.</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/browser.min.js"></script>
		<script src="static/js/breakpoints.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>

	</body>
</html>